<% content_for :title do %>Welcome to Fall Creek Funeral Home<% end %>
<% content_for :description do %>Primary wedsite and application of FCFH<% end %>

<!-- Top Poster Banner -->
<div class="poster">
	<%= image_tag("dove_release_mod.jpg", :alt => "Dove released into the sun", :height => "100%", :width => "100%") %>
</div>

<!-- Left and Right Intro Articles -->
<div class="intro_article">
	<div class="intro_article_left">
		<h1>We listen, we care and we show the love of Christ</h1>
		<h3>- It's our mission.</h3>
		
		<p class="intro"><b>Fall Creek Funeral Home</b> provides a special place to remember your beloved.</p>
		<p class="intro">One of the sad realities of life is that we all die. It is one of life’s inevitable 
		   events that each of us has a beginning (birth) and an ending (death). In those first 
		   few hours, one of your first calls should be to Fall Creek Funeral Home, "Your 
		   Memorial & Chapel" - 281.441.3255. We are here to complete the circle and make 
		   the end of life as special as the beginning.</p>

		 <h2>It’s about honoring life.</h2>
		 
		 <p class="intro">Our vocation is to take care of your loved ones as well as your family and 
		 	friends by providing exceptional service. We provide our services with a helping 
		 	heart.</p>

		 <h2>Serving all Houston Area Cemeteries</h2>

		 <p class="intro">We treat your family like one of our own. After the funeral, we remain in contact 
		 	with you to see that your needs are met. Click here for our Stay Connected Plan.</p>

		 <h1>We’re here to serve you.</h1>
	</div>
	<div class="intro_article_right">
		<%= image_tag("profile.jpg", :alt => "Michael and Joshua Jefferson", :height => "100%", :width => "100%") %>
	</div>
</div>
<!-- Icon Menu -->
<div class="icon_menu">
	Icon Menu
</div>