body
{
	background-color: #80CCFF;
	margin: 0;
}


/* Establishing outside containers */
#top_menu_container, #container
{
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}

#top_menu_container
{
	background-color: #1A2933;
	height: 36px;	
}
.top_menu, .content
{
	width: 1024px;
	margin: 0, auto;
	padding: 5px;
}

.top_menu
{
	color: #D9F0FF;
	font-size: 18px;
	font-family: Calibri;
	text-align: right;
}


/* General Menu Settings */
nav a {
	/*position: relative;
	display: inline-block;
	margin: 15px 25px; */
	outline: none;
	color: #D9F0FF;
	text-decoration: none;
	/* text-transform: uppercase; 
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3); */
	font-size: 18px;
	font-family: Calibri;
	text-align: right;
}

nav a:hover,
nav a:focus {
	outline: none;
}




/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
