/*
 * Simple CSS stylesheet for a navigation bar and flash messages.
 */
body
{
  margin-left:0px;
  margin-right:0px;
  margin-top:8px;
}

#wrapper
{
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #FFFFFF;
  width: 96%;
}

@media screen and (max-width: 600px)
{
  #wrapper
  {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #000000;
    width: 96%;   
  }
}
/* Entire Website Frame */
header, main {

  padding: 0;
  margin: 0;
  width: 100%;
}



/* Upper header and navigation bar */
#upper_header, .top_menu, #content
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  
}

#upper_header
{
   height: 7em; 
   margin-top: 0;
   margin-bottom: 0;
   background-color: #FFFFFF;


}

#left_header
{
  width: 16.4203612479%;
  -webkit-animation: drop-logo 1s;  /* Chrome, Safari, Opera */
  animation: drop-logo 1s;
}

/* Animation Chrome, Safari, Opera */
@-webkit-keyframes drop-logo
{
  from{
    margin-top: -50px;
  }

  to {
    margin-top: 0px;
  }

}

@keyframes drop-logo
{
  from{
    margin-top: -50px;
  }

  to {
    margin-top: 0px;
  }
}

/* Animation Standard syntax */

#mid_header
{

  width: 55%;
  text-align: right;

}


#right_header
{
  width:25%;
  text-align: center;
}

#left_header, #mid_header, #right_header
{
  display: inline-block;
  height: 98%;
  vertical-align: top;

  /* border: 1px solid;
  border-color: gray; */

  
}

.header_text
{
  padding-right: 1.171875%;
  font-family: Verdana;
  text-transform: uppercase;
  font-size: .7em;
  color: #335CD6;
  display: block;
  padding-top: 3%;

}



.top_menu
{
  text-align: right;
  padding-top: .650em;
  height: 36px;
  background-color: #1A2933;
  padding-bottom: 0px;

  /* border: 2px solid;
  border-color: white; */
  
}

#content
{
  padding: 0;
}


/* General Menu Settings */
nav a {
  outline: none;
  color: #D9F0FF;
  text-decoration: none;
  font-size: 1em;
  font-family: Calibri;
  /*text-align: right;*/
}

nav a:hover,
nav a:focus {
  outline: none;
}

/* Top Navigation Menu Effect */

.top_menu a::before,
.top_menu a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.top_menu a::before {
  margin-right: 5px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.top_menu a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.top_menu a:hover::before,
.top_menu a:hover::after,
.top_menu a:focus::before,
.top_menu a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}


/* ----------   Flash Notices Style --------------------------*/
.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

