<div class="upper_header">
	<%= image_tag("fcfh_logo_trans 200 x 112.png", :alt => "Fall Creak Funeral Home logo") %>
</div>
<nav class="top_menu">
  <%= link_to 'Home', root_path %>
  <%= render 'layouts/navigation_links' %>
</nav>
