<!DOCTYPE html>
<html>
	<head>
  		<title>Fall Creek Funeral Home</title>
  		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>
  		<meta http-equiv="Content-Type" content="charset=utf-8" />
	</head>

	<body>
		<!--  Navigation Menu  -->
		<div id="top_menu_container">
			<nav class="cl-effect-1">
				<a href="localhost:3000">Home</a> |
				<a href="localhost:3000/pages/about/">About</a> |
				<a href="localhost:3000/pages/contact">Contact Us</a> |
			</nav>
		</div>

		<div id="container">
			<div class="content">
				<%= yield %>
			</div>
		</div>

	</body>
</html>
